body {
    font-family: sans-serif;
    background: linear-gradient(#A60303 25%, snow);
    margin-bottom: 100%;

} 
.cabecalho-container{
    display: flex;
        justify-content: space-between;
        
}  
.menu-nav {
    display: flex;
    align-items: center;
    width: 35%;
    justify-content:space-around
    
    

}